<header>
    <h1 class="title">Chat</h1>
</header>
<main class="container columns">
    <section class="column is-one-third">

    </section>
    <section class="column is-three-quarters"></section>
</main>